.container {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #000;
  padding-inline: 16px;
}

.rainbow {
  width: 45px;
  height: 100%;
  margin-right: 24px;
  background-image: linear-gradient(
    to right,
    #79FEFF 0%,
    #79FEFF 33%,
    #9779FF 33%,
    #9779FF 66%,
    #FF7979 66%,
    #FF7979 100%
  );
  transform: skewX(20deg);
}

.title {
  font-size: 18px;
  color: #FFE682;
  margin-block: 2px 0;
}

.titlesub {
  margin-left: 8px;
  color: #999;
  font-weight: normal;
}

.divider {
  flex: 1;
}
