.title {
  margin-block: 0 8px;
  color: #999;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;

  & + & {
    margin-top: 4px;
  }
}

.button {
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  border-radius: 4px;
  background-color: #000;
  border: 7px solid #000;
  cursor: pointer;

  &.active {
    background-color: #FFE682;
  }

  &:hover {
    background-color: #666;
  }
}

.label {
  margin: 0;
}
